html{height:100%;}
html{
	background:#38342C;
}
body{
	background:black url(img/bg1.png) center -200px no-repeat;
	text-align:center;
	font-family:"Della Respira", "Times new roman", serif;
	padding:2%;
	margin:10px;
	color:#ccc;
	font-size:14px;
	letter-spacing:1px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header{
	margin:0 0 4% 0;
}
#main{
	margin:0 auto;
	width:80%;
	max-width:950px;
	text-align:center;
}
section h1{
	font-size:40px;
	font-weight:normal;
	margin:20px 0 30px 0;
}
section h2{
	font-size:26px;
	font-weight:normal;
	margin:30px 0 0 0;
	padding:0 0 5px 0;
	border-bottom:1px solid #333;
}
#boxes{
	margin:80px 0 240px 0;
}
.box{
	width:30%;
	position:relative;
	min-height:145px;
	min-width:200px;
	margin:1% 1.5%;
	padding:35px 1% 0px 1%;
	background:#1A1817;
	border-top:1px solid #332D2B;
	border-left:1px solid #262120;
	border-right:1px solid #262120;
	border-bottom:1px solid #181514;
	display:inline-block;
	vertical-align:top;
	background: #000000; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #000000 1%, #1a1817 99%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#000000), color-stop(99%,#1a1817)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #000000 1%,#1a1817 99%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #000000 1%,#1a1817 99%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #000000 1%,#1a1817 99%); /* IE10+ */
	background: radial-gradient(center, ellipse cover,  #000000 1%,#1a1817 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#1a1817',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.box p{
	padding:0;
	margin:0 0 5px 0;
	font-size:21px;
}
p.minor{
	margin:0 0 0px 0;
	font-size:12px;
	font-family:Verdana, Arial, sans-serif;
	color:#5F5451;
	padding:1%;
}
.email{
	margin:0 0 18px 0;
}
canvas{
	top:30px;
	position:fixed;
}
#canvas-left{
	left:0;
}
#canvas-right{
	right:0;
}
#what p{
	font-size:24px;
	margin-top:-4px;
	line-height:38px;
}
#screenshot{
	clear:both;
}

#screenshot img{
	width:300px;
	height:533px;
}
#screenshots p{
	width:30%;
}

.boxcontent{
	margin:20px auto 120px auto;
	max-width:800px;
	width:70%;
	background:#222;
	padding:20px;
	border:double 5px #000;
}
#rules .hat{
	margin:20px 20px;
}
#rules .description{
	text-align:center;
}
#rules p, #rules ul{
	color:#999;
	font-size:18px;
	text-align:left;
}
#rules ul{
	padding:15px 0 0 50px;
	list-style-type:none;
}
#rules li:before{
	font-size:inherit;
	content:'⌘';
	float:left;
	width:40px;
	height:10px;
	margin-left:-40px;
}
#rules li{
	margin-bottom:10px;
}
pre{
	background:	#1b1b1b;
	border:1px solid #000;
	padding:7px 7px 7px 13px;
	text-align:left;
}
a{
	color:#F9E182;
	text-decoration:none;
	-moz-transition: color ease-out 0.3s;
	-o-transition: color ease-out 0.3s;
	-webkit-transition: color ease-out 0.3s;
	-ms-transition: color ease-out 0.3s;
	transition: color ease-out 0.3s;
}
a:hover{
	color:white;
}

body.p404{
	height:97%;
}

@media only screen and (max-width: 800px) {
	header img{
	width:202px;
	height:113px;
	margin:20px 0;
	}
	#main .box{
		display:block;
		width:100%;
		margin:0 0 30px 0;
	}
	#rules{
	width:100%;
	}
	canvas{
		display:none;
	}
}
