<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cursendus</title>
</head>
<body style="margin:0;" bgcolor="#000" style="background:#000">
<table <%- tablereset %> align="center" width="100%" bgcolor="#000" style="background:#000">
	<tr>
		<td>
			<table <%- tablereset %> align="center">
				<tr>
					<td width="600">
						<table class="margin" <%- tablereset %>>
							<tr>
								<td width="600" height="20">
									<img src="<%- assetsUrl %>/transparent.gif" width="600" height="1" alt="">
								</td>
							</tr>
						</table>
						<%- body %>
						<table class="margin" <%- tablereset %>>
							<tr>
								<td width="600" height="30"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</body>
</html>