<%
	var fontserif = 'font-family:serif;font-size:10px;color:#999;font-weight:normal;',
	fontsans = 'font-family:verdana, sans-serif;font-size:12px;color:#999999;font-weight:normal;letter-spacing:1px;',
	fontinfo = 'font-family:serif;font-size:12px;color:#999999;font-weight:normal;letter-spacing:1px;',
	indent = '&nbsp; &nbsp;'
%>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<title>⌘ CursenduS ⌘</title>
	<style>
		/* HTTP specific styles */
		#debug {
			overflow: hidden;
			margin:0 auto 20px auto;
			width:600px;
		}
		form {
			float: left;
			width: 250px;
		}
		form + form {
			float: right;
		}
		textarea {
			width: 248px;
			height: 40px;
			resize: none;
		}
		button[type=submit] {
			display: block;
			width: 150px;
			margin: 0 auto;
			font-size: 18px;
			line-height: 30px;
			cursor: pointer;
		}
	</style>
</head>
<body style="margin:0 auto;">
	<div id="debug">
		<form action="" method="post">
			<p>
				<textarea name="command-player-1" rows="8" cols="40">move [S]
cast [L18]</textarea>
				<button type="submit" style="color:#7b2d6b">Amthyst</button>
			</p>
		</form>
		<form action="" method="post">
			<p>
				<textarea name="command-player-2" rows="8" cols="40">move [N]
cast [B7]</textarea>
				<button type="submit">Dr. Black</button>
			</p>
		</form>
	</div>

<table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" bgcolor="#000">
	<tr>
		<td>
			<table class="margin" cellpadding="0" cellspacing="0" border="0" >
				<tr>
					<td height="20">
					</td>
				</tr>
			<table>

			<table cellpadding="0" cellspacing="0" border="0" align="center">
				<tr>
					<td height="164">
						<img src="//localhost:3001/logo.gif">
					</td>
				</tr>
			<table>

			<table class="margin" cellpadding="0" cellspacing="0" border="0" >
				<tr>
					<td height="30">
					</td>
				</tr>
			<table>

			<table cellpadding="0" cellspacing="0" border="0" align="center" style="<%= fontinfo %>">
				<tr>
					<td width="290" align="left" vertical-align="top" style="vertical-align:top; padding-right:10px; border-right:1px solid #222;">
						<%= indent %> Congratulation, you have been invited to play to CursenduS. You embody Amthyst, a purple sorcerer and you will fight Dr. Black. You can move and cast each turn, to do so, write in the top of the email "move E cast L18"
					</td>
					<td width="290" align="left" style="vertical-align:top;padding-left:10px;">
						<%= indent %> Each player play in the same time, you will recieve the result of the turn as soon as the other player will act.
					</td>
				</tr>
			<table>

			<table class="margin" cellpadding="0" cellspacing="0" border="0" >
				<tr>
					<td height="30">
					</td>
				</tr>
			<table>

			<table cellpadding="0" cellspacing="0" border="0" align="center">
				<tr>
					<% var letters = 'ABCDEFGHIJKLMNOPQRSTUVW'.split(''); %>
						<td width="20"></td>
					<% for (var i=0; i < terrain[0].length; i++) { %>
						<td width="41" height="20" background="//localhost:3001/tabletab-north.gif" style="<%= fontserif %>text-align:center;"><b><%= letters[i] %></b></td>
					<% } %>
				</tr>
				<% for (var i=0; i < terrain.length; i++) { %>
				<tr>
					<td width="26" height="30" background="//localhost:3001/tabletab-west.gif" style="<%= fontserif %>text-align:center;"><b><%=i+1 %></b></td>
					<% for (var j=0; j < terrain[i].length; j++) { %>
						<% if (!terrain[i][j].occupied) { %>
						<td<% if (terrain[i+1] && terrain[i+1][j].occupied) { %> rowspan="2" height="60"<% } else { %> height="30"<% } %> width="40"
							background="//localhost:3001/terrain-<%= terrain[i][j].skin %>.gif">
							<% if (terrain[i+1] && terrain[i+1][j].occupied) { %>
							<img src="//localhost:3001/sorcerer-<%= terrain[i+1][j].occupied.skin %>.gif" width="40" height="60" alt="" style="display:block" />
							<% } %>
						</td>
						<% } %>
					<% } %>
					<td width="26" height="30" background="//localhost:3001/tabletab-est.gif" style="<%= fontserif %>text-align:center;"><b><%=i+1 %></b></td>
				</tr>
				<% } %>
				<tr>
					<% var letters = 'ABCDEFGHIJKLMNOPQRSTUVW'.split(''); %>
						<td width="20"></td>
					<% for (var i=0; i < terrain[0].length; i++) { %>
						<td width="41" height="20" background="//localhost:3001/tabletab-south.gif" style="<%= fontserif %>text-align:center;"><b><%= letters[i] %></b></td>
					<% } %>
				</tr>
			</table>

			<table class="margin" cellpadding="0" cellspacing="0" border="0" >
				<tr>
					<td height="30">
					</td>
				</tr>
			<table>

			<table class="gameInfos" cellpadding="0" cellspacing="0" border="0" align="center" style="<%= fontsans %>">
				<tr>
					<td width="10"></td>
					<td width="190" height="40" style="text-align:center;">
						Tour: <%= turn %>
					</td>
					<td width="10"></td>
					<td width="190" height="40" style="text-align:center;">
						<span style="color:#CF19E0;">Amthyst: <%= player1.health %>HP </span>
					</td>
					<td width="10"></td>
					<td width="190" height="40" style="text-align:center;">
						<span style="color:#FFF;">Dr. Black: <%= player2.health %>HP</span>
					</td>
				</tr>
				<tr>
					<td width="600" height="20" colspan="6"></td>
				</tr>
			</table>

			<table class="margin" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td width="600" height="30"></td>
				</tr>
			<table>
		</td>
	</tr>
</table>
</body>
</html>