						<% if (mode === 'http') { %>
						<%-: ['debug', {'game': game}] | include %>
						<% } %>
						<%
						var characters = {
							1: {
								name: 'Amthyst',
								hat: ['hat-1-large.gif', 53, 47],
								colorName: 'purple',
								color: '#C77AD3'
							},
							2: {
								name: 'Dr. Black',
								hat: ['hat-2-large.gif', 53, 23],
								colorName: 'dark',
								color: '#FFFFFF'
							}
						};
						%>

						<table <%- tablereset %>>
							<tr>
							<% if (game.turn > 1) { %>
								<td width="600" height="77" align="center">
									<img src="<%- assetsUrl %>/logo-min.gif" width="137" height="77" alt="Cursendus">
								</td>
							<% } %>
							</tr>
						</table>

						<% if (game.turn > 1) { %>
						<table class="margin" <%- tablereset %>>
							<tr>
								<td width="600" height="10"></td>
							</tr>
						</table>
						<% } else { %>
						<table class="margin" <%- tablereset %>>
							<tr>
								<td width="600" height="30"></td>
							</tr>
						</table>
						<table <%- tablereset %> align="center" style="<%= fontinfo %>">
							<tr>
								<td width="290" align="left" valign="top">
									<%= indent %> Congratulation, you have been invited to play to Cursendus, a sorcerer battle game through email. You embody <%- characters[player.skin].name %>, a <%- characters[player.skin].colorName %> sorcerer and you are about to defy <%- characters[otherPlayer.skin].name %>.
								</td>
								<td width="9"></td>
								<td width="1" bgcolor="#222" style="background-color:#222;"></td>
								<td width="10"></td>
								<td width="290" align="left" valign="top">
									<%= indent %> You can move and attack each turn, to do so, learn about the rules at the bottom of this email or on the <a href="http://cursend.us/">website</a>.<br>
									If you don't want to receive this email anymore and leave this game, click <a style="color:#ACAC63;" href="#">refuse</a>.
								</td>
							</tr>
						</table>
						<% } %>

						<% if (player1.dead || player2.dead) { %>
						<table class="margin" <%- tablereset %>>
							<tr>
								<td width="600" height="30"></td>
							</tr>
						</table>
						<table <%- tablereset %> align="center" style="<%= fontinfo %>">
							<tr>
								<td>
								<% if (player.dead && player.skin === 1) { %>
									<img src="<%- assetsUrl %>/amthyst-defeat.gif" width="600" height="196" alt="Amthyst is dead. You lose.">
								<% } else if (otherPlayer.dead && player.skin === 1){ %>
									<img src="<%- assetsUrl %>/amthyst-victory.gif" width="600" height="196" alt="Hooray! You win!">
								<% } else if (player.dead && player.skin === 2){ %>
									<img src="<%- assetsUrl %>/drblack-defeat.gif" width="600" height="196" alt="Dr. Black is dead. You lose.">
								<% } else if (otherPlayer.dead && player.skin === 2){ %>
									<img src="<%- assetsUrl %>/drblack-victory.gif" width="600" height="196" alt="Hooray! You win!">
								<% } %>

								<td>
							</tr>
						</table>
						<% } %>
						
						<table class="margin" <%- tablereset %>>
							<tr>
								<td width="600" height="30"></td>
							</tr>
						</table>

						<table <%- tablereset %> align="center">
							<tr>
								<% var letters = 'ABCDEFGHIJKLMNOPQRSTUVW'.split(''); %>
								<td width="26"></td>
								<% for (var i=0; i < terrain[0].length; i++) { %>
								<td width="40" height="20" background="<%- assetsUrl %>/tabletab-north.gif" style="<%= fontserif %>text-align:center;"><b><%= letters[i] %></b></td>
								<% } %>
								<td width="26"></td>
							</tr>
							<% var bgSkin, imgSkin, rowspan, displayTd, traceSkin; %>
							<% for (var i=0; i < terrain.length; i++) { %>
							<tr>
								<td width="26" height="30" background="<%- assetsUrl %>/tabletab-west.gif" style="<%= fontserif %>text-align:center;"><b><%=i+1 %></b></td>
								<% for (var j=0; j < terrain[i].length; j++) { %>
								<%
									bgSkin = '';
									imgSkin = '';
									rowspan = false;
									displayTd = true;
									traceSkin = '';

									// Dead
									if (terrain[i][j].occupied && terrain[i][j].occupied.dead) {
										bgSkin = assetsUrl + '/terrain-ground-death.gif';

									} else {
										bgSkin = assetsUrl + '/terrain-' + terrain[i][j].skin + '.gif';

										// Occupied
										if (terrain[i+1] && (terrain[i+1][j].occupied && !terrain[i+1][j].occupied.dead)) {
											rowspan = true;
											imgSkin = assetsUrl + '/sorcerer-' + terrain[i+1][j].occupied.skin + '.gif';
										} else if (terrain[i][j].occupied) {
											displayTd = false;
										
										// Traced
										} else if (terrain[i][j].traced) {
											traceSkin = assetsUrl + '/trace-' + terrain[i][j].traced + '.gif';
										}
									}
								%>
									<% if (displayTd) { %>
									<td width="40" <% if (rowspan) { %>rowspan="2" height="60"<% } else { %>height="30"<% } %> background="<%- bgSkin %>">
										<% if (imgSkin) { %>
										<img src="<%- imgSkin %>" width="40" height="60" alt="" style="display:block">
										<% } else if (traceSkin) { %>
										<img src="<%- traceSkin %>" width="40" height="30" alt="" style="display:block">
										<% } %>
									</td>
									<% } %>
								<% } %>
								<td width="26" height="30" background="<%- assetsUrl %>/tabletab-est.gif" style="<%= fontserif %>text-align:center;"><b><%=i+1 %></b></td>
							</tr>
							<% } %>
							<tr>
								<% var letters = 'ABCDEFGHIJKLMNOPQRSTUVW'.split(''); %>
								<td width="26"></td>
								<% for (var i=0; i < terrain[0].length; i++) { %>
								<td width="40" height="20" background="<%- assetsUrl %>/tabletab-south.gif" style="<%= fontserif %>text-align:center;"><b><%= letters[i] %></b></td>
								<% } %>
								<td width="26"></td>
							</tr>
						</table>
						<table class="margin" <%- tablereset %>>
							<tr>
								<td width="600" height="30"></td>
							</tr>
						</table>
						<table class="gameInfos" <%- tablereset %> align="center" style="<%= fontsans %>">
							<tr>
								<td width="190" height="40" style="text-align:center; <%= h2 %>">
									Turn <%= turn %>
								</td>
							</tr>
							<tr>
								<td width="596" height="1" bgcolor="#222" style="background-color:#222;"></td>
							</tr>
							<tr>
								<td width="600" height="20"></td>
							</tr>
						</table>
						<table class="playersInfo" <%- tablereset %> style="<%= fontsans %>" align="center">
							<tr>
								<td width="600" height="10" colspan="3"></td>
							</tr>
							<tr>
								<td width="320" bgcolor="#333" style="background-color: #333;text-align:center; border-style:double; border-width:5px; border-color:#000;">
									<table <%- tablereset %>>
										<tr>
											<td width="320" height="70" valign="bottom">
												<img src="<%- assetsUrl %>/<%- characters[player.skin].hat[0] %>" width="<%- characters[player.skin].hat[1] %>" height="<%- characters[player.skin].hat[2] %>" alt="<%- characters[player.skin].name %>’s hat">
											</td>
										</tr>
										<tr>
											<td width="320" height="30">
												<span style="color:<%- characters[player.skin].color %>;"><%- characters[player.skin].name %></span> (you)
											</td>
										</tr>
										<tr>
											<td width="320">
												email: <%= player.email %>
											</td>
										</tr>
										<tr>
											<td width="310">
												Health: <%= player.health %>
											</td>
										</tr>
										<tr>
											<td width="320">
												Position: <%= player.position %>
											</td>
										</tr>
										<tr>
											<td width="320" height="10"></td>
										</tr>
									</table>
								</td>
								<td width="20"></td>
								<td width="260" bgcolor="#282828" align="center" style="background-color: #282828; border-style:double; border-width:5px; border-color:#000;">
									<table <%- tablereset %>>
										<tr>
											<td width="260" height="70" valign="bottom" align="center">
												<img src="<%- assetsUrl %>/<%- characters[otherPlayer.skin].hat[0] %>" width="<%- characters[otherPlayer.skin].hat[1] %>" height="<%- characters[otherPlayer.skin].hat[2] %>" alt="<%- characters[otherPlayer.skin].name %>’s hat">
											</td>
										</tr>
										<tr>
											<td width="260" height="30" align="center">
												<span style="color:#<%- characters[otherPlayer.skin].color %>;"><%- characters[otherPlayer.skin].name %></span>
											</td>
										</tr>
										<tr>
											<td width="260" align="center">
												email: <%= otherPlayer.email %>
											</td>
										</tr>
										<tr>
											<td width="260" align="center">
												Health: <%= otherPlayer.health %>
											</td>
										</tr>
										<tr>
											<td width="260" align="center">
												Position: <%= otherPlayer.position %>
											</td>
										</tr>
										<tr>
											<td width="260" height="10"></td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td width="600" height="40" colspan="3"></td>
							</tr>
						</table>

						<% /* %>
						<table class="title" <%- tablereset %> align="center" style="<%= fontsans %>">
							<tr>
								<td width="190" height="40" style="text-align:center; <%= h2 %>">
									History
								</td>
							</tr>
							<tr>
								<td width="600"></td>
							</tr>
						</table>

						<table class="lastRounds" style="<%= fontsans %>" align="center">
							<tr>
								<td width="600" height="10"></td>
							</tr>
							<tr>
								<td bgcolor="#333" style="text-align:center; border-style:double; border-width:5px; border-color:#000;">
									Foo
								</td>
							</tr>
							<tr>
								<td width="600" height="40" colspan="5"></td>
							</tr>
						</table>
						<% */ %>

						<% if (game.turn > 1) { %>

						<table <%- tablereset %> style="<%= fontsans %>" align="center">
							<tr>
								<td align="left" bgcolor="#333" style="background-color:#333;">
									<table <%- tablereset %> style="border-style:double; border-width:5px; border-color:#000;">
										<tr>
											<td width="600" height="10" colspan="3" bgcolor="#333" style="background-color:#333;"></td>
										</tr>
										<tr>
											<td width="10" bgcolor="#333" style="background-color:#333;"></td>
											<td>
												<p>
													How to play: <a style="<%= link %>" href="http://cursend.us#rules">Rules</a>
												</p>
											</td>
											<td width="10" bgcolor="#333" style="background-color:#333;"></td>
										</tr>
										<tr>
											<td width="600" height="10" colspan="3" bgcolor="#333" style="background-color:#333;"></td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td width="600" height="10"></td>
							</tr>
						</table>						
						<% } else { %>
						<table class="title" <%- tablereset %> align="center">
							<tr>
								<td width="596" height="40" align="center" style="<%= h2 %>">
									Rules
								</td>
							</tr>
							<tr>
								<td width="596" height="1" bgcolor="#222222" style="background-color:#222222;"></td>
							</tr>
						</table>

						<table <%- tablereset %> style="<%= fontsans %>" align="center">
							<tr>
								<td width="600" height="10"></td>
							</tr>
							<tr>
								<td align="left" bgcolor="#333" style="background-color:#333;">
									<table <%- tablereset %> style="border-style:double; border-width:5px; border-color:#000;">
										<tr>
											<td width="600" height="10" colspan="3" bgcolor="#333" style="background-color:#333;"></td>
										</tr>
										<tr>
											<td width="10" bgcolor="#333" style="background-color:#333;"></td>
											<td>
												<p align="center">
													<span style="font-size:15px; font-family:monospace;">&#x2318;</span><br>
													Cusrendus is a sorcerer battle game based on email.
												</p>

												<h4 style="<%= h4 %>">Open a battle</h4>
												<p>To begin a game, send an email to your friend and add <a style="<%= link %>" href="mailto:play@cursend.us">play@cursend.us</a> to the recipient.</p>
												<p>You will receive an email with the game and the rules. You will also discover the name of your character. Characters are randomly distributed.</p>

												<h4 style="<%= h4 %>">Play</h4>
												<p>You are able to move and attack. To do so, answer to the initial email. Actions must be written at the very top of the email. Example:</p>
												<p style="<%=code %>">
													move south <br>
													attack F16
												</p>
												<p>As a result of the previous lines, your character will move one square to the south and throw a attack to the square x=F y=16.</p>

												<h4 style="<%= h4 %>">Goal</h4>
												<p>Try to attack your enemy by sending attacks to cases. Each attack can take from 8 to 10 life points.</p>

												<h4 style="<%= h4 %>">Important</h4>
												<p>
													- Both players need to play before receiving the next turn.<br>
													- An empty email is not valid.<br>
													- The rules are always available at the bottom of each email.
												</p>

												<h4 style="<%= h4 %>">Credits</h4>
												<p>
													Website: <a style="<%= link %>" href="http://cursend.us">http://cursend.us</a><br>
													Realisation : <a style="<%= link %>" href="http://pierrebertet.net">Pierre Bertet</a>, <a style="<%= link %>" href="http://raphaelbastide.com">Raphaël Bastide</a><br>
													Cursendus is <a style="<%= link %>" href="https://github.com/bpierre/cursendus">open source</a>
												</p>
											</td>
											<td width="10" bgcolor="#333" style="background-color:#333;"></td>
										</tr>
										<tr>
											<td width="600" height="10" colspan="3" bgcolor="#333" style="background-color:#333;"></td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td width="600" height="10"></td>
							</tr>
						</table>
						<% } %>
