						<table class="margin" <%- tablereset %>>
							<tr>
								<td width="600" height="10"></td>
							</tr>
						</table>

						<table class="title" <%- tablereset %> align="center">
							<tr>
								<td width="596" height="40" align="center" style="<%= h2 %>">
									<%- messageSubject %>
								</td>
							</tr>
							<tr>
								<td width="596" height="1" bgcolor="#222222" style="background-color:#222222;"></td>
							</tr>
						</table>

						<table class="message" <%- tablereset %> style="<%= fontsans %>">
							<tr>
								<td width="600" height="20" colspan="3"></td>
							</tr>
							<tr>
								<td width="260" bgcolor="#333" style="background-color: #333;text-align:center; border-style:double; border-width:5px; border-color:#000;" valign="center">
									<img src="<%- assetsUrl %>/message.gif" width="157" height="113" alt="">
								</td>
								<td width="20"></td>
								<td width="310" bgcolor="#333" align="center" style="background-color: #333; border-style:double; border-width:5px; border-color:#000;">
									<table <%- tablereset %>>
										<tr>
											<td width="310" height="70" valign="bottom" align="center">
												<img src="<%- assetsUrl %>/hat-2-large.gif" width="53" height="23" alt="Dr. Black’s hat">
											</td>
										</tr>
										<tr>
											<td width="310" height="20"></td>
										</tr>
										<tr>
											<td width="310" align="center">
												<%- messageBody %>
											</td>
										</tr>
										<tr>
											<td width="310" height="20"></td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td width="600" height="40" colspan="3"></td>
							</tr>
						</table>
