<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>New game</title>
</head>
<body style="width:600px;margin:0 auto;">
	<h1>New game</h1>
	<form action="/new" method="post">
		<p>
			<label>
				Player 1
				<input type="email" name="player_1_email" value="" id="player_1_email" placeholder="player1@example.com" />
			</label>
		</p>
		<p>
			<label>
				Player 2
				<input type="email" name="player_2_email" value="" id="player_2_email" placeholder="player2@example.com" />
			</label>
		</p>
		<p><input type="submit" value="New game &rarr;" /></p>
	</form>
	<h1>Active games</h1>
	<ul>
		<% for (var i = 0; i < games.length; i++) { %>
		<li><a href="/game/<%= games[i] %>">Game #<%= games[i] %></a></li>
		<% } %>
	</ul>
</body>
</html>